extends layout

block content
  h1 Usage Statistics
  #chart
  #data
    #usage(style="display: none")
      | !{JSON.stringify(usage)}


  script(type="text/javascript", src="/javascripts/usage_chart.js")