body {
  background-color: #f5ecec;
  padding: 50px;
  font: 14px "Lucida Grande";
  overflow-x:scroll;
}

a {
  color: #00b7ff;
}

.noDisplay{
    display: none;
}

#page-wrap {
     width: 1000px;
     margin: 0 auto;
}
